#my-map {
    width: 100%; /* Full width of the container */
    height: 680px;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    overflow: hidden; /* prevents scrolling */
}

/* style for the map container with ID 'map' */
#map {
    position: absolute;
    top: 50px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px); 
}

/* search container */
.map-search-container {
    position: absolute;
    top: 60px;
    left: 10px;
    width: 280px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* stays on top */
}

/* search input */
.mapboxgl-ctrl-geocoder {
    width: 100% !important;
    max-width: 100% !important; /* to make sure it doesn't exceed the container width, this is ask chatgpt */
    box-sizing: border-box;
}

.mapboxgl-ctrl-geocoder input {
    width: 100% !important;
    padding-left: 35px !important; /* Ensures text doesn't overlap icon */
    border-radius: 5px;
}

/* search button */
.map-search-container button {
    margin-top: 5px;
    width: 100%;
}

/* legend */
.legend {
    position: absolute;
    bottom: 45px;
    right: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 999;
}

.legend h4 {
    margin: 0;
    padding-bottom: 5px;
    font-size: 16px;
    text-align: left;
}

.legend h4:nth-of-type(2) {
    margin-top: 15px; 
}


.legend-key {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 5px;
    border-radius: 3px;
}


.map-data-container {
    position: absolute;
    top: 190px; 
    left: 10px;
    width: 280px; 
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    font-size: 14px;
    z-index: 999;
    display: flex;
    flex-direction: column;
    gap: 5px; 
    height: auto; 
}

/* form checkboxs */
.form-check {
    display: flex;
    align-items: center;
    margin-bottom: 3px; 
}

.form-check-input {
    margin-right: 5px;
}

.btn {
    font-size: 14px;
    width: 100%;
    margin-top: 5px;
}

